{% extends 'layout/base.twig' %}

{% block content %}
  <p class="error">
    {{ ERR_MESSAGE|raw }}
  </p>
  {% if DEFURL %}
    <span class="bbsmsg">
      <a href="{{ DEFURL|raw }}" title="{{ TRANS_RETURN_TITLE }}">{{ TRANS_RETURN }}</a>
    </span>
  {% endif %}
{% endblock %}
