    html { scroll-behavior: smooth; }
    body { max-height: 100%; -webkit-text-size-adjust: 100%; background: #{C_BACKGROUND}; color: #{C_TEXT};font-family: "BIZ UDゴシック", "Noto Sans Mono CJK JP", "Noto Sans Mono", "IPAゴシック", "HGゴシックM", "ＭＳ ゴシック", "MS Gothic", monospace; font-size: 14px; }
    /* Links */
    a:link { color: #{C_A_COLOR}; transition:0.2s; }
    a:visited { color: #{C_A_VISITED}; }
    a:active { color: #{C_A_ACTIVE}; }
    a:hover { color: #{C_A_HOVER}; }
    a.help { text-decoration-line: underline; }
    .deadLink, .deadLink:link, .deadLink:visited, .deadLink:hover, .deadLink:active { opacity: 0.6; text-decoration: line-through; }
    /* Horizontal lines */
    hr { border: 0 none; height: 2px; background-color: #c0c0c0; color: #c0c0c0; }

	fieldset { border: 2px #c0c0c0 solid; border-radius: 2px;}
    /* Mobile compatibility */
    @media screen and (min-width: 0px){
        .msgnormal { font-size: 0.9rem; font-size: 14px; line-height:1; /* white-space: pre-wrap; */ word-wrap: break-word; }
        .msgtree { font-size: 0.9rem; font-size: 14px; line-height:1; white-space: pre; }
        div.contents { margin-left: 18px; }
    }
    @media screen and (min-width: 640px){
        .msgnormal { font-size: 1.0rem; font-size: 16px; }
        .msgtree { font-size: 1.0rem; font-size: 16px; }
        div.contents { margin-left: 27px; }
    }
    iframe { max-width: 100%; }
    img { max-width: 99%; height: auto; }
    td { white-space: nowrap; }
    fieldset { display: inline-block; margin: 5px 0; padding: 10px; max-width: 100%; }
    /* Bulletin board title */
    .pagetitle { font-size: large; font-weight: bold; text-align: left; }
    /* Upper link row */
    .link_upper { font-size: 14px; font-size: 0.9rem; }
    /* Lower link row */
    .link_row { font-size: 13px; font-size: 0.8rem; }
    /* Message */
    .bbsmsg { font-size: 16px; font-size: 1.0rem; }
    /* BUTTANS */
    .kaomoji {font-family: inherit;}
    /* Write/erase completion message */
    .msg-completed { font-size: xx-large; font-weight: bold; }
    /* Small */
    .small { font-size: small; }
    /* There are no posts below this point */
    .msgmore { font-size: 15px; font-size: 0.95rem; font-style: italic; }
    /* Copyright notice */
    .copyright { font-size: 13px; font-size: 0.8rem; text-align: right;}
    /* Title */
    .ms { color: #{C_SUBJ}; font-size: 17px; font-size: 1.05rem; font-weight: bold; }
    /* Post number */
    .mnum { font-size: 0.8rem; font-size: 12px; color : #{C_TEXT}; display:none; }
    /* User label */
    .mu { font-size: 14px; font-size: 0.9rem; }
    /* Username */
    .mun { font-size: 14px; font-size: 0.9rem; font-weight: normal;}
    /* Fixed handle */
    .muh { font-size: 15px; font-size: 0.95rem; font-weight: bold; font-style: italic; }
    /* Trip */
    .mut { font-size: 15px; font-size: 0.95rem; font-weight: bold; font-style: italic;}
    /* Post */
    .md { font-size: 14px; font-size: 0.9rem; }
    /* Post buttons */
    .nb,a.help { font-size: 15px; font-size: 0.95rem; white-space: normal; }
    /* Post form explanation */
    .pfhelp { font-size: 13px; font-size: 0.8rem; font-style: italic; }
    /* Quotes */
    .q { color: #{C_QMSG}; }
    /* Error */
    .error { font-size: 20px; font-size: 1.2rem; font-weight: bold; color: #{C_ERROR}; }
    /* Environment variables */
    .env { font-size: 13px; font-size: 0.8rem; font-size: 0.8rem; font-style: italic; }
    /* Buttons */
    input[type="button"],input[type="submit"],input[type="reset"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 2px solid #999; border-radius: 2px; background: #bbb; background-color: #d2d2d2; transition:0.2s; padding: .5px .4em; margin-right: .5em; }
    input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover { background-color: #cdf; border-color: #888; }
    input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active  { background-color: #abd; border-color: #08c; }
    /* Text box */
    input[type="text"], input[type="number"], input[type="password"], textarea { max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #eee; border: 2px solid #999; border-radius: 2px; transition: 0.2s; }
    input[type="text"]:hover,input[type="number"]:hover, input[type="password"]:hover,textarea:hover { background-color: #cdf; border-color: #888; }
    input[type="text"]:focus,input[type="number"]:focus, input[type="password"]:focus,textarea:focus { background-color: #ccc; border-color: #08c; }
    input[type="number"] { max-width: 4em; }
    /* Plugins */
    /* Custom */
    
